<header class="tw-w-full tw-border-b-2 tw-border-borderColor tw-p-1">
  <div class="tw-flex tw-items-center">
    <img
      src="assets/images/icons/lezard.png"
      alt="terrariopedia icon"
      class="logo"
      class="tw-w-8 tw-p-1"
    />
    <div class="tw-flex tw-items-center tw-border-2 tw-border-borderColor tw-rounded">
      <div class="tw-bg-borderColor  tw-text-white tw-p-1"><p>Terrario</p></div>
      <div class="tw-bg-gray-100  tw-text-black tw-p-1"><p>pedia</p></div>
    </div>
  </div>
</header>
