<div class="tw-flex tw-flex-col tw-gap-1">
  <div class="tw-flex tw-mb-6 tw-gap-1 tw-justify-start tw-flex-wrap">
    <app-animal
      *ngFor="let animal of animals"
      [animal]="animal"
      class="tw-w-64 tw-h-96 tw-m-2 tw-flex tw-flex-col tw-items-center tw-border tw-rounded-lg tw-overflow-hidden tw-shadow-md"
    ></app-animal>
  </div>
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20, {showAll:'All'}]"
    (onPageChange)="onPageChange($event)"
  >
  </p-paginator>
</div>
